body
{
    background-color: black;

}

.button1
{
    background: green;
    color: black;
    margin-top: 100px;
    margin-left: 200px;
    font-size: 40px;
    border-radius: 15px;

}

.button2
{
    background: red;
    margin-top: 100px;
    color: black;
    margin-left: 300px;
    font-size: 40px;
    border-radius: 15px;

}

.p{
    font-size: 100px;
    margin-top: 100px;
    margin-left: 500px;
    color: black;
    text-align: center;
    width: 200px;
}